@if(isVisible){
<div class="modal-overlay">
  <div class="modal-container">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          {{ translations["confirm.deleteProduct"] }}
          {{ productToDelete.name }} - {{ productToDelete.id }}?
        </h2>
      </div>
      <div class="modal-footer">
        <button class="btn-cancel" (click)="onCancel()">
          {{ translations["button.cancel"] }}
        </button>
        <button class="btn-confirm" (click)="onConfirm()">
          {{ translations["button.confirm"] }}
        </button>
      </div>
    </div>
  </div>
</div>
}
