<table>
  <thead>
    <tr>
      @for (header of headers; track header) {
      <th>{{ header }}</th>
      }
      @if (actions && actions.length > 0) {
      <th>Acciones</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (item of data; track item) {
    <tr>
      @for (header of headers; track header) {

        @if (header === 'Logo') {
          <td>{{ item[headerKeyMap[header]]}}
            <img [src]="'assets/' + item[headerKeyMap[header]]" alt="Logo" class="logo-img" />
          </td>
        }@else{
          <td>{{ item[headerKeyMap[header]]}}</td>
        }
        
      }

      @if (actions && actions.length > 0) {
        <td>
          <div class="dropdown">
            <div class="dropdown-container">
              <button class="dropdown-toggle-btn" (click)="toggleVisibility()">
                ⋮
              </button>
              <ul class="dropdown-menu" [class.show]="showActions">
                @for (action of actions; track action) {
                  <li>
                    <a class="dropdown-item" (click)="showModal(item); $event.preventDefault()">
                      @if (action.icon) {
                        <i class="{{ action.icon }}"></i>
                      }
                      {{ action.label }}
                    </a>
                  </li>
                }
              </ul>
            </div>
          </div>
        </td>
      }
      
    </tr>
    }
  </tbody>
</table>

<lib-delete-bank
[isVisible]="modalIsVisible"
[item]="selectedItem"
(close)="closeModal($event)"
></lib-delete-bank>
