<div class="pagination-container">
    <span class="total-items">{{ totalItems }} Resultados</span>
    <select class="page-size-selector" (change)="onPageSizeChange()">
      <option value="5" selected>5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
  
  
  
</div>

<div class="pagination-controls">
  <button (click)="previousPage()" [disabled]="currentPage === 1"><-</button>
  <span>{{ totalItems === 0 ? '0 / 0' : currentPage + ' / ' + totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">-></button>
</div>