lib-button, button.create-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bolder;
    font: var(--font-family);
    border: none;
    padding: 17px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
  }