.bank-header {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  color: #0A126D;
  font-weight: 600;
  font-size: 24px;
  margin-top: 1.8%;
  text-transform: uppercase;
}

.bank-header img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.main-container { 
  min-height: 100vh; 
  background-color: var(--background-color);
  padding: 4%;
}

.search-container {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.main-container-table {
  background-color: white;
  padding: 1.8%;
}

lib-modal-bank {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
