<div class="bank-header">
    <img src="assets/money.png" alt="Bank">
    <span>Banco</span>
</div>

<div class="main-container">
    <div class="search-container">
        <lib-input-bank (searchChange)="searchChange($event)"></lib-input-bank>
        @if(isButtonActive){
        <lib-button class="create-button" label="Crear" (buttonClick)="showCreateModal()">Crear</lib-button>
        }
    </div>
    <lib-table [data]="paginatedData" [headers]="headers" [actions]="actions">
    </lib-table>
    <lib-pagination [totalItems]="filteredData.length" [itemsPerPage]="itemsPerPage" (pageChange)="onPageChange($event)"
        (itemsPerPageChange)="onItemsPerPageChange($event)"></lib-pagination>

    @if(isModalOpen) {
    <lib-modal-bank (closeModal)="closeCreateModal()"></lib-modal-bank>
    }
</div>