body {
    color: var(--text-color);
    background-color: var(--light-bg);
    margin: 0;
    padding: 20px;
  }

  :root {
    --primary-color: #d6d31b;
    --color: #0f265c;
    --light-bg: #f1f5f8; /* Light background color */
    --border-color: #e0e0e0; /* Light border color */
    --text-color: #333; /* Main text color */
    --hover-bg: #f0f4f8; /* Light hover background */
  }

  html{
    font-family: "preloslab-book", sans-serif !important
  }